<% @by_date.each do |eat| %>
  <div class="eat-card">
    <div class="eat-card-image">
      <%= image_tag attachment_url(eat, :profile_image, :fill, 150, 150, format: "jpg") %>
    </div>
    <div class="eat-card-text">
      <h4><%= link_to eat.name, eat %></h4>
        <% if user_signed_in? %>
          <% if Favorite.exists?(:user_id => current_user.id, :eat_id => eat.id) %>
            <p><span class="glyphicon glyphicon-heart"></span></p>
          <% else %>
            <%= link_to user_favorites_path(current_user, user_id: current_user.id, eat_id: eat.id), :method => :post do %>
              <p><span class="glyphicon glyphicon-heart-empty"></span></p>
            <% end %>
          <% end %>
        <% end %>
      <h4><%= eat.location %> (<%= eat.location %>)</h4>
      <h4>Rating: *****</h4>
    </div>
  </div>
<% end %>
