<%= div_for eat do %>

  <div class="eat-card" style="background-image: url(<%= attachment_url(eat, :profile_image, :fill, 500, 300, format: "jpg") %>); background-style: cover; background-position: center;">
    <div class="eat-card-text">
      <h2 style="display: inline; padding-left: 10px; padding-right: 10px;"><%= link_to eat.name, eat %></h2>
        <% if user_signed_in? %>
          <% if Favorite.exists?(:user_id => current_user.id, :eat_id => eat.id) %>
            <span class="glyphicon glyphicon-heart"></span>
          <% else %>
            <%= link_to user_favorites_path(current_user, user_id: current_user.id, eat_id: eat.id), id: "add-to-favorites", :method => :post do %>
              <span class="glyphicon glyphicon-heart-empty"></span>
            <% end %>
        <% end %>
        <% if current_user.admin? %>
          <%= link_to ('<span class="glyphicon glyphicon-trash red"></span>').html_safe, eat_path(eat),
                          :data => {:confirm => "You sure?",
                          :method => 'delete'} %>
        <% end %>
      <% end %>
      <h4><%= eat.location %> (<%= eat.neighborhood %>)</h4>
      <% if eat.reviews.any? %>
        <% all_reviews = [] %>
        <% eat.reviews.each do |review| %>
          <% all_reviews.push(review.rating) %>
          <% @avg_rating = all_reviews.inject(0.0) { |sum, el| sum + el } / all_reviews.size %>
        <% end %>

        <% if @avg_rating.between?(0, 1.5) %>
           <span class="glyphicon glyphicon-star"></span>
        <% elsif @avg_rating.between?(1.5, 2.5) %>
           <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>
        <% elsif @avg_rating.between?(2.5, 3.5) %>
            <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>
        <% elsif @avg_rating.between?(3.5, 4.5) %>
           <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>
        <% else @avg_rating.between?(4.5, 5) %>
            <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>
        <% end %>
      <% end %>
    </div>
  </div>

<% end %>
