<div class="container">
  <%= render "layouts/errors", :object => @eat %>
  <%= simple_form_for @eat, remote: true do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.input :address %>
    <%= f.input :phone %>
    <%= f.input :website %>
    <%= f.input :instagram_location_id %>
    <%= f.input :mon_happy_start %>
    <%= f.input :mon_happy_end %>
    <%= f.input :tues_happy_start %>
    <%= f.input :tues_happy_end %>
    <%= f.input :wed_happy_start %>
    <%= f.input :wed_happy_end %>
    <%= f.input :thur_happy_start %>
    <%= f.input :thur_happy_end %>
    <%= f.input :fri_happy_start %>
    <%= f.input :fri_happy_end %>
    <%= f.input :sat_happy_start %>
    <%= f.input :sat_happy_end %>
    <%= f.input :sun_happy_start %>
    <%= f.input :sun_happy_end %>
    <%= f.input :mon_open %>
    <%= f.input :mon_close %>
    <%= f.input :tues_open %>
    <%= f.input :tues_close %>
    <%= f.input :wed_open %>
    <%= f.input :wed_close %>
    <%= f.input :thur_open %>
    <%= f.input :thur_close %>
    <%= f.input :fri_open %>
    <%= f.input :fri_close %>
    <%= f.input :sat_open %>
    <%= f.input :sat_close %>
    <%= f.input :sun_open %>
    <%= f.input :sun_close %>
    <%= f.input :location, collection: [ "NW", "SW", "SE", "NE", "N"] %>
    <%= f.input :neighborhood %>
    <%= f.label "Upload display picture" %>
    <%= f.attachment_field :profile_image %>
    <br>
    <%= f.label "Menu" %>
    <%= f.text_area :menu, class: 'form-control', rows: '10' %>
    <br>
    <%= f.button :submit %>
  <% end %>
</div>
