<%= render "layouts/errors", :object => @eat %>
<h1>Make a New Eat <span class="glyphicon glyphicon-cutlery"></span></h1>
<%= simple_form_for @eat, remote: true do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :address %>
  <%= f.input :phone %>
  <%= f.input :website %>
  <%= f.input :hours %>
  <%= f.input :location %>
  <%= f.input :neighborhood %>
  <%= f.label "Upload display picture" %>
  <%= f.attachment_field :profile_image %>
  <br>
  <%= f.label "Menu" %>
  <%= f.text_area :menu, class: 'form-control', rows: '10' %>
  <br>
  <%= f.button :submit %>
<% end %>
