<div class="main-search-banner">
  <div class="video-container">
    <video autoplay loop id="bgvid">
        <source src="/videos/beer.mp4" type="video/mp4">
    </video>
  </div>
  <div class="main-search-text-container">
    <div class="main-search-text-wrapper">
      <h3>Where are you right now?</h3>
          <% if user_signed_in? %>
            <div class="black">
              <%= form_tag eats_path, :method => :get do %>
                  <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "e.g. Powell's Books, Portland OR", required: true %>
                  <h4 class="white">How many miles are you willing to travel?</h4>
                  <%= number_field_tag :distance, params[:distance], min: 0.5, step: 0.5, class: "form-control", required: true %>
                  <br>
                  <%= submit_tag "Make me happy!", :name => nil, :class => "header-link", :id => "search-button" %>
                </div>
              <% end %>
            </div>
          <% else %>
            <p>
              Sign up or log in to get started!
            </p>
          <% end %>
    </div>
  </div>
</div>

<div class="index-content-container">
  <% if user_signed_in? && current_user.admin? %>
    <div class="col-sm-12">
      <%= link_to "Add a New Eat", new_eat_path, id: "new_eat_link", class: "header-link", remote: true %>
      <%= link_to "Hide Form", new_eat_path, id: "hide_eat_form", remote: true %>
    </div>
  <% end %>

<% if user_signed_in? %>
  <h1 class="center">Happy hours near you:</h1>
  <div class="container">
    <div class="col-md-7">

      <script>
          markers = handler.addMarkers(<%=raw @hash.to_json %>);
      </script>

      <div class="google-map">
        <div id="map" style='width: 600px; height: 400px;'></div>
      </div>
    </div>

  <div class="col-md-5">
    <% if @nearby_eats %>
      <% if @nearby_eats.any? %>
        <% @nearby_eats.each do |eat| %>
          <div class="eat-result-card">
            <h3><%= link_to eat.name, eat %> <span class="smaller"><%= eat.distance.round(1) %> miles away</span></h3>
            <div class="indent-pp">
              <% if today_happy_end(eat) - today_happy_start(eat) > 0 %>
                <p>Happy hour today:
                  <%= format_time(today_happy_start(eat)) %> - <%= format_time(today_happy_end(eat)) %>
                <% if happy_now?(eat) %>
                  <h3 class="red">It's happy hour!</p>
                <% else %>
                  <p>(Not currently happy hour)</p>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="alert alert-danger" role="alert">
        Shoot! I couldn't find any happy hours near you.
      </div>
    <% end %>
  </div>
</div>
<% end %>

<div class="container">
  <div class="well">
    <div class="carousel slide" id="top-carousel">
      <div class="carousel-inner">
        <div class="item active">
          <div class="row">
            <div class="col-sm-6">
              <div class="eat-card">
                <div class="white">
                  <h1>Top Portland happy hours</h1>
                  <h3>As ranked by users!</h3>
                </div>
              </div>
            </div>
            <% @top_eats.values_at(0).each do |eat| %>
              <div class="col-sm-6">
                <%= render eat %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <% @top_eats.values_at(1,2).each do |eat| %>
              <div class="col-sm-6">
                <%= render eat %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <% @top_eats.values_at(3,4).each do |eat| %>
              <div class="col-sm-6">
                <%= render eat %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <% @top_eats.values_at(5,6).each do |eat| %>
              <div class="col-sm-6">
                <%= render eat %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#top-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
      <a class="right carousel-control" href="#top-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div>
  </div>
</div>

<div class="container">
  <div class="well">
    <div class="carousel slide" id="newest-carousel">
      <div class="carousel-inner">
        <div class="item active">
          <div class="row">
            <div class="col-sm-6">
              <div class="eat-card">
                <div class="white">
                  <h1>Recently added happy hours</h1>
                </div>
              </div>
            </div>
            <% @newest_eats.values_at(0).each do |eat| %>
              <div class="col-sm-6">
                <%= render eat %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <% @newest_eats.values_at(1,2).each do |eat| %>
              <div class="col-sm-6">
                <%= render eat %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <% @newest_eats.values_at(3,4).each do |eat| %>
              <div class="col-sm-6">
                <%= render eat %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <% @newest_eats.values_at(5,6).each do |eat| %>
              <div class="col-sm-6">
                <%= render eat %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#newest-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
      <a class="right carousel-control" href="#newest-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div>
  </div>
</div>


</div>
