<div class="main-search-banner">
  <div class="video-container">
    <video autoplay loop id="bgvid">
        <source src="/videos/beer.mp4" type="video/mp4">
    </video>
  </div>
  <div class="main-search-text-container">
    <div class="main-search-text-wrapper">
      <h1>Where are you right now?</h2>
          <% if user_signed_in? %>
            <div class="black">
              <%= form_for @user do |f| %>
              <p>
                <%= f.text_field :address, class: "form-control" %>
                <%= f.submit "Filter", :name => nil %>
              </p>
              <% end %>
            </div>
          <% else %>
            <p>
              Sign up or log in to get started!
            </p>
          <% end %>
    </div>
  </div>
</div>

<div class="index-content-container">
  <% if user_signed_in? && current_user.admin? %>
    <div class="col-sm-12">
      <%= link_to "Add a New Eat", new_eat_path, id: "new_eat_link", remote: true %>
      <%= link_to "Hide Form", new_eat_path, id: "hide_eat_form", remote: true %>
    </div>
  <% end %>

  <div class="col-sm-6">
    <div class="panel-container top-eats">
      <h1 class="center">top pdx happy hours</h1>
      <% @eats.each do |eat| %>
        <%= render eat %>
      <% end %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel-container newest-eats">
      <h1 class="center">newest pdx happy hours</h1>
      <% @eats.order("created_at DESC").each do |eat| %>
        <%= render eat %>
      <% end %>
    </div>
  </div>
</div>
