<div class="container">

  <% if user_signed_in? && current_user.admin? %>
    <p><%= link_to "Edit this Eat", edit_eat_path(@eat) %></p>
    <p><%= link_to "Delete this Eat", eat_path(@eat), data: { confirm: "Are you sure you want to do that?" }, method: 'delete' %></p>
  <% end %>

  <h1><%= @eat.name %></h1>
  <% if @eat.reviews.any? %>
    <% all_reviews = [] %>
    <% @eat.reviews.each do |review| %>
      <% all_reviews.push(review.rating) %>
      <% @avg_rating = all_reviews.inject(0.0) { |sum, el| sum + el } / all_reviews.size %>
    <% end %>

    <% if @avg_rating.between?(0, 1.5) %>
       <span class="glyphicon glyphicon-star"></span>
    <% elsif @avg_rating.between?(1.5, 2.5) %>
       <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>
    <% elsif @avg_rating.between?(2.5, 3.5) %>
        <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>
    <% elsif @avg_rating.between?(3.5, 4.5) %>
       <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>
    <% else @avg_rating.between?(4.5, 5) %>
        <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>
    <% end %>

    <% if all_reviews.length == 1 %>
      (<%= all_reviews.length %> review)
    <% else %>
      (<%= all_reviews.length %> reviews)
    <% end %>
    
  <% else %>
    No reviews.
  <% end %>

  <h4><%= @eat.category %></h4>
  <%= image_tag attachment_url(@eat, :profile_image, :fill, 500, 300, format: "jpg") %>

  <h2>Address: <%= @eat.address %></h2>
  <h2>Phone: <%= @eat.phone %></h2>
  <h2>Website: <a href="<%= @eat.website %>"><%= @eat.website %></a></h2>
  <h2>Hours: <%= @eat.hours %></h2>
  <h2>Part of Town: <%= @eat.location %> (<%= @eat.neighborhood %>)</h2>
  <h2 class="menuShow">Menu <span class="caret menu-caret"></span></h2>
  <div class="menu">
    <p><%= simple_format(@eat.menu) %></p>
  </div>

  <hr>
  <% if user_signed_in? %>
    <% if @user_review %>
      <h3><%= link_to "Edit Your Review", edit_eat_review_path(@eat, @user_review) %>
    <% end %>
  <% end %>

  <% if @eat.reviews.any? %>
    <% @eat.reviews.each do |review| %>
      <h2><%= review.title %></h2>
      <% if review.rating.between?(0, 1.5) %>
         <span class="glyphicon glyphicon-star"></span>
      <% elsif review.rating.between?(1.5, 2.5) %>
         <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>
      <% elsif review.rating.between?(2.5, 3.5) %>
          <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>
      <% elsif review.rating.between?(3.5, 4.5) %>
         <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>
      <% else review.rating.between?(4.5, 5) %>
          <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>
      <% end %>
      <p><%= review.content %></p>
      <p>Posted by <%= review.user.user_name %> <%= time_ago_in_words(review.created_at) %> ago</p>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <% if !@user_review %>
      <h2>Leave a review:</h2>
      <%= render 'reviews/form' %>
    <% end %>
    <% else %>
      <h4><%= link_to "Log in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to leave a review!</h4>
  <% end %>
</div>
