<div class="container">
  <div class="col-md-6 col-md-push-6">

    <%= image_tag(attachment_url(@eat, :profile_image, :fill, 500, 300, format: "jpg"), class: "img-responsive") %>

    <h3>Upload photos:</h3>
    <%= render '/images/form' %>

    <h3>Recent user photos:</h3>
    <% if @eat.images.any? %>
      <%= link_to eat_image_path(@eat, @eat.images.last) do %>
        <%= image_tag attachment_url(@eat.images.last, :profile_image), class: "img-responsive" %>
      <% end %>
      <br>
      <% @eat.images.offset(1).last(4).each do |image| %>
        <%= link_to eat_image_path(@eat, image) do %>
          <%= image_tag attachment_url(image, :profile_image, :fill, 100, 75, format: "jpg") %>
        <% end %>
      <% end %>
      <% if @eat.images.length > 5 %>
        <span class="glyphicon glyphicon-menu-right larger"></span>
      <% end %>
    <% else %>
      <p>No user photos yes.</p>
    <% end %>

    <h3>Recent Instagram photos:</h3>
    <div class="instagram-container">
    <iframe src="http://widget.websta.me/in/location<%= @eat.instagram_location_id %>/?s=150&w=5&h=5&b=0&p=0" allowtransparency="true" frameborder="0" scrolling="yes" style="border:none;width:100%;" ></iframe>
    </div>
  </div>



  <div class="col-md-6 col-md-pull-6">
    <% if user_signed_in? && current_user.admin? %>
      <p><%= link_to "Edit this Eat", edit_eat_path(@eat) %></p>
      <p><%= link_to "Delete this Eat", eat_path(@eat), data: { confirm: "Are you sure you want to do that?" }, method: 'delete' %></p>
    <% end %>

    <h1><%= @eat.name %></h1>
    <h4 class="italic"><%= @eat.category %> in <%= @eat.location %> (<%= @eat.neighborhood %>)</h4>
    <% if @eat.reviews.any? %>
      <%= display_in_stars(@eat) %>
      <% if @eat.reviews.length == 1 %>
        (1 review)
      <% else %>
        (<%= @eat.reviews.length %> reviews)
      <% end %>

    <% else %>
      No reviews.
    <% end %>

    <hr>

    <h4>Address: <%= @eat.address %></h4>
    <div class="google-map">
      <iframe width="500" height="400" frameborder="0"
src="https://www.google.com/maps/embed/v1/place?q=<%= @eat.address %>&key=AIzaSyBTJUXT4x4Azd5cAqivGUrtTilq_rsF5lk" allowfullscreen></iframe>
    </div>
    <h4>Phone: <%= @eat.phone %></h4>
    <h4>Website: <a href="<%= @eat.website %>"><%= @eat.website %></a></h4>
    <h2>Happy Hour:</h2>
    <div class="indent-pp">
      <% if happy_now?(@eat) %>
        <h3>It's happy hour!</h2>
      <% else %>
        <h3>Right now, it's not happy hour :( </h2>
      <% end %>
      <h4>Monday: <%= format_time(@eat.mon_happy_start) %> - <%= format_time(@eat.mon_happy_end) %></h4>
      <h4>Tuesday: <%= format_time(@eat.tues_happy_start) %> - <%= format_time(@eat.tues_happy_end) %></h4>
      <h4>Wednesday: <%= format_time(@eat.wed_happy_start) %> - <%= format_time(@eat.wed_happy_end) %></h4>
      <h4>Thursday: <%= format_time(@eat.thur_happy_start) %> - <%= format_time(@eat.thur_happy_end) %></h4>
      <h4>Friday: <%= format_time(@eat.tues_happy_start) %> - <%= format_time(@eat.tues_happy_end) %></h4>
      <h4>Saturday: <%= format_time(@eat.sat_happy_start) %> - <%= format_time(@eat.sat_happy_end) %></h4>
      <h4>Sunday: <%= format_time(@eat.sun_happy_start) %> - <%= format_time(@eat.sun_happy_end) %></h4>
    </div>
    <h2>Regular Hours:</h2>
    <div class="indent-pp">
      <h4>Monday: <%= format_time(@eat.mon_open) %> - <%= format_time(@eat.mon_close) %></h4>
      <h4>Tuesday: <%= format_time(@eat.tues_open) %> - <%= format_time(@eat.tues_close) %></h4>
      <h4>Wednesday: <%= format_time(@eat.wed_open) %> - <%= format_time(@eat.wed_close) %></h4>
      <h4>Thursday: <%= format_time(@eat.thur_open) %> - <%= format_time(@eat.thur_close) %></h4>
      <h4>Friday: <%= format_time(@eat.tues_open) %> - <%= format_time(@eat.tues_close) %></h4>
      <h4>Saturday: <%= format_time(@eat.sat_open) %> - <%= format_time(@eat.sat_close) %></h4>
      <h4>Sunday: <%= format_time(@eat.sun_open) %> - <%= format_time(@eat.sun_close) %></h4>
    </div>
    <h2 class="menuShow">Menu <span class="caret menu-caret"></span></h2>
    <div class="menu">
      <p><%= simple_format(@eat.menu) %></p>
    </div>

    <hr>
    <% if user_signed_in? %>
      <% if @user_review %>
        <h3><%= link_to "Edit Your Review", edit_eat_review_path(@eat, @user_review) %>
      <% end %>
    <% end %>

    <% if @eat.reviews.any? %>
      <% @eat.reviews.each do |review| %>
        <h2><%= review.title %></h2>
        <%= display_in_stars(@eat) %>
        <p><%= review.content %></p>
        <p>Posted by <%= review.user.user_name %> <%= time_ago_in_words(review.created_at) %> ago</p>
      <% if user_signed_in? && current_user.admin? %>
        <p><%= link_to "delete this review", eat_review_path(@eat, review), data: { confirm: "Are you sure you want to do that?" }, method: 'delete' %></p>
      <% end %>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <% if !@user_review %>
        <h2>Leave a review:</h2>
        <%= render 'reviews/form' %>
      <% end %>
      <% else %>
        <h4><%= link_to "Log in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to leave a review!</h4>
    <% end %>
  </div>
</div>
